<ul class="todo_list">
    <li *ngFor="let todo of todos" [ngClass]="{'done': todo.completed, 'important': todo.important, 'completed': todo.completed}">
        <input type="checkbox" [(ngModel)]="todo.completed" ((click))="onCheckboxChange(todo)">
        <span class="exclamation" *ngIf="todo.important">!</span>
        {{ todo.title }}
        <span class="deadline" *ngIf="todo.deadline">{{ todo.deadline }}</span>
        <div class="delete-todo">        
            <button class="delete-btn" (click)="onDelete(todo.id)">X</button>
        </div>
    </li>
</ul>
