<div class="controls">
    <button (click)="sortByDeadline()">Сортувати за дедлайном</button>
    <button (click)="toggleFilterImportant()">
        {{ filterImportant ? 'Показати всі' : 'Фільтрувати за пріоритетом' }}
    </button>
    <button (click)="clearAll()" class="clear-all">Очистити всі завдання</button>
    <button (click)="onCreate()" class="add-todo">Додати завдання</button>
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
</div>

<div *ngIf="showForm" class="form-container">
    <app-todo-form (addTodo)="onAddTodo($event)" (cancel)="onCancelCreate()"></app-todo-form>
</div>

<app-todo-list [todos]="sortedTodos" (todoUpdated)="onTodoUpdated($event)" (delete)="deleteItem($event)"></app-todo-list>
